@media only screen and (max-width: 768px) {
  .navbar a {
    border: 1px rgb(0, 0, 0);
    margin-right: 100px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 32px;
    color: pink;
    height: 100px;
    line-height: 100px;
  }
   
  }
  



* {
  border: 5px;
  margin: 5px;
  padding: 5px;
}

body {
  background-color: #ffecf7;
  font-family: "Gill Sans", Gill Sans, monospace;
}

.navbar {
  list-style-type: none;
  margin: 50px;
  padding: 50px;
  overflow: hidden;
  background-color: #38220f;
  border-radius: 50px;
  text-align: center;
}

.navbar a {
  border: 1px rgb(0, 0, 0);
  margin-right: 100px;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 32px;
  color: pink;
  height: 100px;
  line-height: 100px;
}

.navbar a:hover {
  background-color: #fcfaee;
  transition: 0.5s ease;
}

.quote {
  padding: 50px;
  text-align: center;
  font-size: 30px;
}

.para {
  padding: 25px;
  text-align: left;
  font-size: 24px;
}

.progress {
  padding: 25x;
  margin: 25px;
  text-align: left;
  font-size: 20px;
}

.hr1 {
  border-top: 3px solid black;
}

.hr2 {
  border-top: 3px solid black;
}

button {
  background-color: pink;
  color: #38220f;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-family: "Gill Sans", Gill Sans, monospace;
}

button:hover {
  background-color: pink;
  transition: 0.5s ease;
}

