body {
  background-color: rgb(255, 192, 203);
  font-family: "Times New Roman", Times New Roman, monospace;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(232, 206, 244);
  border-radius: 5px;
}

.navbar a {
  border: 1px solid plum;
  margin-right: 5px;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  font-size: larger;
}
